@import '../utils/prefixors';

@mixin flex ($direction, $justify, $align, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

.flex-vertical {
	@include flex(column, center, flex-start, 1em);
	@include max-width-max-content();
}

.flex {
	@include flex(row, center, center, 1em);
}