@font-face {
	font-family: 'KeroKero51BBx';
	src: url('../../assets/fonts/kero-kero/KeroKero51BBx.eot');
	src: url('../../assets/fonts/kero-kero/KeroKero51BBx.eot')
			format('embedded-opentype'),
		url('../../assets/fonts/kero-kero/KeroKero51BBx.woff2') format('woff2'),
		url('../../assets/fonts/kero-kero/KeroKero51BBx.woff') format('woff'),
		url('../../assets/fonts/kero-kero/KeroKero51BBx.ttf') format('truetype'),
		url('../../assets/fonts/kero-kero/KeroKero51BBx.svg#KeroKero51BBx')
			format('svg');
}

@font-face {
	font-family: 'comicz';
	src: url('../../assets/fonts/comic-sans/comic-sans-italic-bold/comicz.eot');
	src: url('../../assets/fonts/comic-sans/comic-sans-italic-bold/comicz.eot')
			format('embedded-opentype'),
		url('../../assets/fonts/comic-sans/comic-sans-italic-bold/comicz.woff2')
			format('woff2'),
		url('../../assets/fonts/comic-sans/comic-sans-italic-bold/comicz.woff')
			format('woff'),
		url('../../assets/fonts/comic-sans/comic-sans-italic-bold/comicz.ttf')
			format('truetype'),
		url('../../assets/fonts/comic-sans/comic-sans-italic-bold/comicz.svg#comicz')
			format('svg');
}

@font-face {
	font-family: 'design_graffiti_comicsansms';
	src: url('../../assets/fonts/comic-sans/comic-sans-graffiti/design_graffiti_comicsansms.eot');
	src: url('../../assets/fonts/comic-sans/comic-sans-graffiti/design_graffiti_comicsansms.eot')
			format('embedded-opentype'),
		url('../../assets/fonts/comic-sans/comic-sans-graffiti/design_graffiti_comicsansms.woff2')
			format('woff2'),
		url('../../assets/fonts/comic-sans/comic-sans-graffiti/design_graffiti_comicsansms.woff')
			format('woff'),
		url('../../assets/fonts/comic-sans/comic-sans-graffiti/design_graffiti_comicsansms.ttf')
			format('truetype'),
		url('../../assets/fonts/comic-sans/comic-sans-graffiti/design_graffiti_comicsansms.svg#design_graffiti_comicsansms')
			format('svg');
}

@font-face {
	font-family: 'design_graffiti_comicsansmsgras';
	src: url('../../assets/fonts/comic-sans/comic-sans-graffiti-bold/design_graffiti_comicsansmsgras.eot');
	src: url('../../assets/fonts/comic-sans/comic-sans-graffiti-bold/design_graffiti_comicsansmsgras.eot')
			format('embedded-opentype'),
		url('../../assets/fonts/comic-sans/comic-sans-graffiti-bold/design_graffiti_comicsansmsgras.woff2')
			format('woff2'),
		url('../../assets/fonts/comic-sans/comic-sans-graffiti-bold/design_graffiti_comicsansmsgras.woff')
			format('woff'),
		url('../../assets/fonts/comic-sans/comic-sans-graffiti-bold/design_graffiti_comicsansmsgras.ttf')
			format('truetype'),
		url('../../assets/fonts/comic-sans/comic-sans-graffiti-bold/design_graffiti_comicsansmsgras.svg#design_graffiti_comicsansmsgras')
			format('svg');
}

@font-face {
	font-family: 'comici';
	src: url('../../assets/fonts/comic-sans/comic-sans-italic/comici.eot');
	src: url('../../assets/fonts/comic-sans/comic-sans-italic/comici.eot')
			format('embedded-opentype'),
		url('../../assets/fonts/comic-sans/comic-sans-italic/comici.woff2')
			format('woff2'),
		url('../../assets/fonts/comic-sans/comic-sans-italic/comici.woff')
			format('woff'),
		url('../../assets/fonts/comic-sans/comic-sans-italic/comici.ttf')
			format('truetype'),
		url('../../assets/fonts/comic-sans/comic-sans-italic/comici.svg#comici')
			format('svg');
}

@font-face {
	font-family: 'ComicSansMS3';
	src: url('../../assets/fonts/comic-sans/comic-sans-regular/ComicSansMS3.eot');
	src: url('../../assets/fonts/comic-sans/comic-sans-regular/ComicSansMS3.eot')
			format('embedded-opentype'),
		url('../../assets/fonts/comic-sans/comic-sans-regular/ComicSansMS3.woff2')
			format('woff2'),
		url('../../assets/fonts/comic-sans/comic-sans-regular/ComicSansMS3.woff')
			format('woff'),
		url('../../assets/fonts/comic-sans/comic-sans-regular/ComicSansMS3.ttf')
			format('truetype'),
		url('../../assets/fonts/comic-sans/comic-sans-regular/ComicSansMS3.svg#ComicSansMS3')
			format('svg');
}

@font-face {
	font-family: 'COMIC';
	src: url('../../assets/fonts/comic-sans/comic-sans-uppercase/COMIC.eot');
	src: url('../../assets/fonts/comic-sans/comic-sans-uppercase/COMIC.eot')
			format('embedded-opentype'),
		url('../../assets/fonts/comic-sans/comic-sans-uppercase/COMIC.woff2')
			format('woff2'),
		url('../../assets/fonts/comic-sans/comic-sans-uppercase/COMIC.woff')
			format('woff'),
		url('../../assets/fonts/comic-sans/comic-sans-uppercase/COMIC.ttf')
			format('truetype'),
		url('../../assets/fonts/comic-sans/comic-sans-uppercase/COMIC.svg#COMIC')
			format('svg');
}
