@mixin width-max-content {
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
}

@mixin border-radius ($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
}

@mixin transform-scale ($size) {
	transform: scale($size);
	-webkit-transform: scale($size);
	-moz-transform: scale($size);
	-ms-transform: scale($size);
	-o-transform: scale($size);
}

@mixin transform-translate ($x, $y, $z: 0) {
	transform: translate($x, $y, $z);
	-webkit-transform: translate($x, $y, $z);
	-moz-transform: translate($x, $y, $z);
	-ms-transform: translate($x, $y, $z);
	-o-transform: translate($x, $y, $z);
}

@mixin object-fit-position ($fit, $position) {
	-o-object-fit: $fit;
		   object-fit: $fit;
		-o-object-position: $position;
		   object-position: $position;
}