@import '../utils/flex';
@import '../utils/positions';
@import '../utils/variables';
@import '../utils/pallete';
@import '../utils/media';
@import '../utils/border';
@import '../utils/box-shadow';

//light theme - mobile first
.sidebar {
	@include downbar-position();
	background-color: light(neutral);
	padding: $sidebar-padding-mobile;

	.navbar {
		background-color: inherit;
		@include flex(row, center, center);
	}

	.bg-img-container,
	.flex-vertical {
		display: none;
	}
}

//dark theme
.dark {
	.sidebar {
		background-color: dark(neutral);
	}
}

//media queries
@include media-tablet {
	.sidebar {
		width: 20vw;
		padding: $sidebar-padding-tablet;
		@include sidebar-position($sidebar-top-tablet);
		@include flex(column, space-around, center, 1em);
		@include low-elevated-shadow(light);
		overflow-y: scroll;
		overflow-x: hidden;

		.navbar {
			@include flex(column, center, center, 1em);
			@include border-bottom(light);
			padding: $navbar-padding;
			width: 100%;
		}

		.sidebar-img {
			@include flex(row, center, center);

			.bg-img {
				@include object-fit-position(cover, center);
				width: 100%;
			}
		}

		.bg-img-container,
		.flex-vertical {
			display: initial;
		}

		.flex-vertical {
			width: 100%;
		}
	}

	.dark {
		.sidebar {
			@include low-elevated-shadow(dark);
		}
		.navbar {
			@include border-bottom(dark);
		}
	}
}

@include media-laptop {
	.sidebar {
		padding: $sidebar-padding-laptop;
		@include sidebar-position($sidebar-top-laptop);

		.sidebar-img {
			@include flex(row, center, center);

			.bg-img {
				width: 60%;
			}
		}
	}
}

@include media-desktop {
	.sidebar {
		padding: $sidebar-padding-desktop;
		@include sidebar-position($sidebar-top-desktop);

		.sidebar-img {
			.bg-img {
				width: 80%;
			}
		}
	}
}
