@import '../utils/typography';
@import '../utils/pallete';
@import '../utils/media';

//light theme - mobile first

.title {
  .title-link {
    text-decoration: none;
		@include title('phone');
		color: light(primary);
	}
}

//dark theme
.dark {
	.title {
		.title-link {
			color: dark(primary);
		}
	}
}

//media
@include media-tablet {
	.title {
		@include title(tablet);
	}
}

@include media-laptop {
	.title {
		@include title(laptop);
	}
}

@include media-desktop {
	.title {
		@include title(desktop);
	}
}
