@import '../utils/flex';
@import '../utils/media';
@import '../utils/variables';

//light theme - mobile
.forgot-password-container {
	background-color: light(neutral);
	@include flex(column, center, center, 1em);
	padding: $forgot-password-padding-mobile;
	padding-top: $topbar-height-mobile;

	.flex-vertical {
		align-items: center;
	}

	.form {
		padding-bottom: 1em;
	}

	.bg-img {
		width: 90%;
	}
}

//dark theme
.dark {
  background-color: dark(neutral);
}

//media queries
@include media-tablet {
.forgot-password-container {
		padding: $forgot-password-padding-tablet;
		padding-top: $topbar-height-tablet;

		.bg-img-container {
			@include flex(row, center, center);
			width: 100%;
		}
	}
}

@include media-laptop {
.forgot-password-container {
		padding: $forgot-password-padding-laptop;
		padding-top: $topbar-height-laptop;
		@include flex(row, space-around, center, 1em);

		.bg-img-container {
			@include flex(row, center, center);
			width: 70%;
		}
	}
}

@include media-desktop {
.forgot-password-container {
		padding: $forgot-password-padding-desktop;
		padding-top: $topbar-height-desktop;
		@include flex(row, space-around, center, 1em);

		.bg-img-container {
			@include flex(row, center, center);
			width: 70%;
		}
	}
}
