@import '../utils/flex';
@import '../utils/variables';
@import '../utils/media';
@import '../utils/pallete';

//light
.view-user-container {
  background-color: light(on-secondary);
	@include flex(column, center, center, 2em);
	padding: $view-user-padding-mobile;
	padding-top: $topbar-height-mobile;
  padding-left: $sidebar-width-mobile;
  height: 100vh;
  overflow-y: scroll;
}

//dark
.dark {
  background-color: dark(on-secondary);
}

//media queries
@include media-tablet {
	.view-user-container {
		padding: $view-user-padding-tablet;
		padding-top: $topbar-height-tablet;
    padding-left: $sidebar-width-tablet;
	}
}

@include media-laptop {
	.view-user-container {
		padding: $view-user-padding-laptop;
		padding-top: $topbar-height-laptop;
    padding-left: $sidebar-width-laptop;
	}
}

@include media-desktop {
	.view-user-container {
		padding: $view-user-padding-desktop;
		padding-top: $topbar-height-desktop;
    padding-left: $sidebar-width-desktop;
	}
}